body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.main-title {
    background-color: #333;
    color: #f4f4f4;
    padding: 20px 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: inline-block; /* Center the nav items */
}
nav ul li {
    display: inline;
    margin: 0 20px;
    height: 20px;
}


nav ul li a:hover {
    font-style: underline;
    transition: background-color 0.3s ease;
}


nav ul li a {
    color: white;
    text-decoration: none;
}


nav ul li a.active {
    background-color: hotpink; /* Active link background color */
    color: white; /* Active link text color */
    border-radius: 5px; /* Optional: adds rounded corners */
    padding: 10px; /* Adjust padding as needed */
}

.nav-link.active {
    background-color: hotpink; /* Example background color */
    color: white; /* Adapt based on your design */
}


.content-section {
    padding: 20px;
    display: none;
}

#profile {
    display: block;
}

.project {
    background-color: #e9ecef;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.project a {
    font-weight: bold;
    color: #007bff;
}


footer {
    /* Add your specific footer styles here */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}



.filters {
    text-align: center;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #333;
    color: white;
}

.filter-btn:hover {
    background-color: grey;
}


.filter-btn.active {
    background-color: hotpink; /* Change this color as per your design */
    color: white; /* Ensures text is visible on the new background */
    border-color: #007bff; /* Optional: makes the border match the background */
}

